/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/cache/*.php
/storage/framework/views/*.php
/storage/logs/*.log
/public/storage
/storage/app/public/delivery-proofs/*
/storage/app/public/qc-photos/*
!/storage/app/public/.gitignore
/storage/app/tenant-exports/*
/storage/app/scheduled/*
!/storage/app/.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
